<h1>Edit article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %><%= form_for([@article, @article.comments.build]) do |f| %>
<p>
<%= f.label :commenter %><br>
<%= f.text_field :commenter %>
</p>
